@model CALVRI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        </div>
    </div>
     <section id="loginForm">
            <h3>Enter the username you wish to reset. An email will be sent with your password.</h3>
            <% using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            { %>
            <%: Html.AntiForgeryToken() %>
            <%: Html.ValidationSummary(true) %>

            <fieldset>
                <legend>Enter the username you wish to reset. An email will be sent with your password.</legend>
                <ol>
                    <li>
                        <%: Html.LabelFor(m => m.UserName) %>
                        <%: Html.TextBoxFor(m => m.UserName) %>
                        <%: Html.ValidationMessageFor(m => m.UserName) %>
                    </li>
                </ol>
                <input type="submit" value="Reset" />
            </fieldset>

            <% } %>

            <% if (ViewData["msg"] != null)
            { %>
            <%: ViewData["msg"] %>
            <% } %>
        </section>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


    <asp:Content ID="Content3" ContentPlaceHolderID="FeaturedContent" runat="server">
    </asp:Content>

    <asp:Content ID="Content4" ContentPlaceHolderID="ScriptsSection" runat="server">
    </asp:Content>
